.item-container .panel-body {
    min-height: 242px;
}
.item-container img {
    height: 120px;
}
.item-container .price-label {
    font-size: 1.4em;
    font-weight: bold;
}

.item-container .price-label p {
    margin: 4px 0 0 0;
}

.navbutton {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    border-color: white;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
}

.navbutton:hover, navbuttton:active {
    color: grey;
    cursor: pointer;
}
.navbar{
    background-color: #3e5991;
    border-radius: 0px;
}

.title {
    color: #3e5991;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;
    font-size: 45px;

}
